<div style="padding:5px">
  <ul class="nav nav-tabs">
    <li routerLinkActive="active" class="nav-item">
      <a class="nav-link" routerLink="home">Home</a>
    </li>
    <li routerLinkActive="active" class="nav-item">
      <a class="nav-link" routerLink="employees">Employees</a>
    </li>
    <li routerLinkActive="active" class="nav-item">
      <a class="nav-link" routerLink="employees/create">Add Employee</a>
    </li>
    <li routerLinkActive="active" class="nav-item">
      <a class="nav-link" routerLink="employees">List of Employees</a>
    </li>
  </ul>
  <br />
  <router-outlet></router-outlet>
</div>

<!-- <button class="btn-danger">
  Bootstrap Styled Button
</button> -->
<h3 style="color:green">********** Angular Starts Here ***********</h3>
<h2>Hello {{name}}</h2>