<!-- A grey horizontal navbar that becomes vertical on small screens -->
<div class="container-fluid" style="padding:5px">
    <!-- <nav class="navbar navbar-expand-md bg-light fixed-top">
      
        <ul class="navbar-nav nav-tabs">
            <li routerLinkActive="active" class="nav-item">
                <a class="nav-link" routerLink="weather/current-weather">Current Weather</a>
            </li>
            <li routerLinkActive="active" class="nav-item">
                <a class="nav-link" routerLink="weather/forecast-weather">Forecast Weather</a>
            </li>
            <li routerLinkActive="active" class="nav-item">
                <a class="nav-link" routerLink="weather/old-weather-data">Old Weather Data</a>
            </li>
        </ul>
    </nav> -->

    <div>
        
        <angular-google-map></angular-google-map>

        <div class="text-center" id="footer" style="color:blueviolet">
            <span>
                <b>This website is developed by <i> Shravan Kumar Jha </i> Software Engineer at KPMG Global Service,
                    Bangalore.
                </b>
            </span>
        </div>
    </div>
</div>